body {
}
.footer li {
    margin-bottom: 10px;
}
.footer a {
    color: #fff;
}
.footer__top {
    background-color: #6E6E6E;
    color: #fff;
    padding: 50px 0;
}
.footer__bottom {
    background-color: #222;
    color: #fff;
    padding: 25px 0;
}
.footer__title {
    margin-bottom: 15px;
}
.level {
    margin-bottom: 90px;
}
.p-0 {
    padding-left: 0;
    padding-right: 0;
}
.btn-style {
    border-radius: 20px;
    background-color: #F4F4F4;
    border:1px solid #999;
    color: #000;
    padding: 8px 15px;
}
.btn-link-style {
    padding: 5px 15px 5px 10px;
    border-radius: 20px;
    border:1px solid #777;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.navbar-nav>li>a {
    color: #000;
}
.bold {
    font-weight: 700;
}
.label {
    border-radius: 15px;
    font-size: 95%;
}
.reviews {
    background-color: #F4F4F4;
    padding: 30px 25px 30px 20px;
    position: relative;
    margin-top: 30px;
}
.reviews:before {
    top: -19px;
    left: 30px;
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 10px solid #F4F4F4;
    border-left: 10px solid #F4F4F4;
}
.reviews__title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
}
.reviews__text {
    margin-bottom: 20px;
}
.reviews__signature {
    color: #777;
}
.input-style {
    background-color: rgba(0,0,0,0);
    color: #fff;
    margin-bottom: 10px;
}
.ic {
    color: #C6704F;
    font-size: 10px;
    vertical-align: text-top;
}
.header-inline {
    display: inline-block;
}
.header-sub {
    font-size: 17px;
    color: #777;
}
.offer {
    position: relative;
    height: 300px;
    background-color: #222;
}
.offer__label {
    position: absolute;
    top: 10px;
    left: 15px;
}
.swiper-wrapper {
    margin: 20px auto;
}
.swiper-button-next, .swiper-button-prev {
    margin-top: 0;
}
.block {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}
.block:hover .block__blackout{
    background-color: rgba(255, 0, 0, 0.2);
}
.block__cover {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.block__blackout {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.block__title {
    text-align: center;
    transform: rotate(-90deg);
    font-size: 30px;
    color: #fff;
}
.js-slid {
    transition: width .5s;
}
.js-text {
    display: none;
}
.no-link:hover {
    text-decoration: none;
}

